In [7]:
import datetime

import numpy as np
import pandas as pd

from scipy.stats import spearmanr, pearsonr
from batchgenerators.utilities.file_and_folder_operations import *

In [8]:
def corr_(x1, x2):
    result = spearmanr(x1, x2)
    return result[0], result[1]

In [9]:
excel_path = 'T_Index_Extract.csv'
df = pd.read_csv(excel_path)

In [10]:
df = df.dropna(subset=['m_sn'])

In [11]:
dis_date=df['Discharge_date'].values
op_date=df['Op_date'].values

In [12]:
wit = df['WIT'].values.astype(float)
cr_dif = np.array(df['Postop_Cr_1D']) - np.array(df['Preop_cr']).astype(float)
ebl = df['EBL'].fillna(0.).values.astype(float)
op_time = df['Total Op time'].astype(float)

In [13]:
TLS = [(datetime.datetime.strptime(dis, "%Y-%m-%d") - datetime.datetime.strptime(op, "%Y-%m-%d")).days for dis, op in zip(dis_date, op_date)]

In [14]:
padua_score = df['PADUA_Score'].values.astype(float)
renal_score = df['RENAL_Score'].values.astype(float)
c_index_score_x = df['x_C_index'].values.astype(float)
c_index_score_y = df['y_C_index'].values.astype(float)
c_index_score = np.sqrt(c_index_score_x**2 + c_index_score_y**2)

m_sn = df['m_sn'].values.astype(float)
mps_sn = (df['mp_sn']+df['ms_sn']).values.astype(float)

In [15]:
var = wit
z, p_value = corr_(var, padua_score)
print('z : ', z, ', p_value : ', p_value)
z, p_value = corr_(var, renal_score)
print('z : ', z, ', p_value : ', p_value)
z, p_value = corr_(var, c_index_score)
print('z : ', z, ', p_value : ', p_value)
z, p_value = corr_(var, mps_sn)
print('z : ', z, ', p_value : ', p_value)

z :  0.29018036174560224 , p_value :  0.0018224760477251092
z :  0.3507743527166319 , p_value :  0.00013947850647472304
z :  -0.24359090980003856 , p_value :  0.009325031133544076
z :  0.5516590049592216 , p_value :  2.408270536380295e-10

In [16]:
var = wit
z, p_value = corr_(var, padua_score)
print('z : ', z, ', p_value : ', p_value)
z, p_value = corr_(var, renal_score)
print('z : ', z, ', p_value : ', p_value)
z, p_value = corr_(var, c_index_score)
print('z : ', z, ', p_value : ', p_value)
print('')
z, p_value = corr_(var, m_sn)
print('z : ', z, ', p_value : ', p_value)
z, p_value = corr_(var, mps_sn)
print('z : ', z, ', p_value : ', p_value)

z :  0.29018036174560224 , p_value :  0.0018224760477251092
z :  0.3507743527166319 , p_value :  0.00013947850647472304
z :  -0.24359090980003856 , p_value :  0.009325031133544076

z :  -0.16883706999001477 , p_value :  0.07383020710150696
z :  0.5516590049592216 , p_value :  2.408270536380295e-10

In [21]:
var = cr_dif
z, p_value = corr_(var, padua_score)
print('z : ', z, ', p_value : ', p_value)
z, p_value = corr_(var, renal_score)
print('z : ', z, ', p_value : ', p_value)
z, p_value = corr_(var, c_index_score)
print('z : ', z, ', p_value : ', p_value)
print('')
z, p_value = corr_(var, m_sn)
print('z : ', z, ', p_value : ', p_value)
z, p_value = corr_(var, mps_sn)
print('z : ', z, ', p_value : ', p_value)

z :  0.16141942134622722 , p_value :  0.08762637048914224
z :  0.2533893978094836 , p_value :  0.00676980479024906
z :  -0.1824018982812391 , p_value :  0.05315562114411936

z :  -0.12558678818664515 , p_value :  0.1850330136389228
z :  0.40268388030897234 , p_value :  9.793349895535945e-06

In [18]:
var = ebl
z, p_value = corr_(var, padua_score)
print('z : ', z, ', p_value : ', p_value)
z, p_value = corr_(var, renal_score)
print('z : ', z, ', p_value : ', p_value)
z, p_value = corr_(var, c_index_score)
print('z : ', z, ', p_value : ', p_value)
print('')
z, p_value = corr_(var, m_sn)
print('z : ', z, ', p_value : ', p_value)
z, p_value = corr_(var, mps_sn)
print('z : ', z, ', p_value : ', p_value)

z :  0.16238768284154012 , p_value :  0.0857169042556227
z :  0.09950916786578498 , p_value :  0.2943433741159813
z :  -0.03270213914054236 , p_value :  0.7309550784356114

z :  -0.11290330314248587 , p_value :  0.2337927838246719
z :  0.2382646425827462 , p_value :  0.011042908071563506

In [19]:
var = op_time
z, p_value = corr_(var, padua_score)
print('z : ', z, ', p_value : ', p_value)
z, p_value = corr_(var, renal_score)
print('z : ', z, ', p_value : ', p_value)
z, p_value = corr_(var, c_index_score)
print('z : ', z, ', p_value : ', p_value)
print('')
z, p_value = corr_(var, m_sn)
print('z : ', z, ', p_value : ', p_value)
z, p_value = corr_(var, mps_sn)
print('z : ', z, ', p_value : ', p_value)

z :  0.08686882315571517 , p_value :  0.3602483354244157
z :  0.07648646790855522 , p_value :  0.42070276710258914
z :  -0.2526831745906187 , p_value :  0.006930652130961605

z :  0.004383566217555578 , p_value :  0.9632464401873703
z :  0.25497882131489313 , p_value :  0.00641985029426889

In [20]:
var = TLS
z, p_value = corr_(var, padua_score)
print('z : ', z, ', p_value : ', p_value)
z, p_value = corr_(var, renal_score)
print('z : ', z, ', p_value : ', p_value)
z, p_value = corr_(var, c_index_score)
print('z : ', z, ', p_value : ', p_value)
print('')
z, p_value = corr_(var, m_sn)
print('z : ', z, ', p_value : ', p_value)
z, p_value = corr_(var, mps_sn)
print('z : ', z, ', p_value : ', p_value)

z :  0.0865056983484095 , p_value :  0.3622673630728048
z :  0.10257309416812345 , p_value :  0.27965353501776913
z :  -0.1745504287442643 , p_value :  0.06444509500241732

z :  -0.14734152520694066 , p_value :  0.11938504656174632
z :  0.19170416927665115 , p_value :  0.041942315672624575

In [40]:
path = '/data/T_Index/splits_final.pkl'
a=load_pickle(path)
val_list = a[0]['val']

new_df = df[df['No'].isin(val_list)]

In [43]:
m_sn = new_df['m_sn']
mp_sn = new_df['mp_sn']
ms_sn = new_df['ms_sn']

m_sn_ai = new_df['m_sn_ai']
mp_sn_ai = new_df['mp_sn_ai']
ms_sn_ai = new_df['ms_sn_ai']

In [44]:
# m_sn
d = {
    'p_number' : [nb for nb in range(1,len(m_sn)+1)]+[nb for nb in range(1,len(m_sn)+1)], 
    'm_sn' : np.hstack((m_sn, m_sn_ai)),
    'pred' : np.hstack((['gt']*len(m_sn), ['pred']*len(m_sn)))
    }
df = pd.DataFrame(data=d)
icc = pg.intraclass_corr(data=df, targets='p_number', ratings = 'm_sn', raters='pred').round(3)
icc

    Type              Description    ICC        F  df1  df2  pval        CI95%
0   ICC1   Single raters absolute  0.996  507.448   16   17   0.0  [0.99, 1.0]
1   ICC2     Single random raters  0.996  641.480   16   16   0.0  [0.99, 1.0]
2   ICC3      Single fixed raters  0.997  641.480   16   16   0.0  [0.99, 1.0]
3  ICC1k  Average raters absolute  0.998  507.448   16   17   0.0  [0.99, 1.0]
4  ICC2k    Average random raters  0.998  641.480   16   16   0.0  [0.99, 1.0]
5  ICC3k     Average fixed raters  0.998  641.480   16   16   0.0   [1.0, 1.0]

In [45]:
# mp_sn
d = {
    'p_number' : [nb for nb in range(1,len(mp_sn)+1)]+[nb for nb in range(1,len(mp_sn)+1)], 
    'mp_sn' : np.hstack((mp_sn, mp_sn_ai)),
    'pred' : np.hstack((['gt']*len(mp_sn), ['pred']*len(mp_sn)))
    }
df = pd.DataFrame(data=d)
icc = pg.intraclass_corr(data=df, targets='p_number', ratings = 'mp_sn', raters='pred').round(3)
icc

    Type              Description    ICC       F  df1  df2  pval         CI95%
0   ICC1   Single raters absolute  0.970  65.621   16   17   0.0  [0.92, 0.99]
1   ICC2     Single random raters  0.970  68.525   16   16   0.0  [0.92, 0.99]
2   ICC3      Single fixed raters  0.971  68.525   16   16   0.0  [0.92, 0.99]
3  ICC1k  Average raters absolute  0.985  65.621   16   17   0.0  [0.96, 0.99]
4  ICC2k    Average random raters  0.985  68.525   16   16   0.0  [0.96, 0.99]
5  ICC3k     Average fixed raters  0.985  68.525   16   16   0.0  [0.96, 0.99]

In [46]:
# ms_sn
d = {
    'p_number' : [nb for nb in range(1,len(ms_sn)+1)]+[nb for nb in range(1,len(ms_sn)+1)], 
    'ms_sn' : np.hstack((ms_sn, ms_sn_ai)),
    'pred' : np.hstack((['gt']*len(ms_sn), ['pred']*len(ms_sn)))
    }
df = pd.DataFrame(data=d)
icc = pg.intraclass_corr(data=df, targets='p_number', ratings = 'ms_sn', raters='pred').round(3)
icc

    Type              Description    ICC       F  df1  df2  pval         CI95%
0   ICC1   Single raters absolute  0.914  22.281   16   17   0.0  [0.78, 0.97]
1   ICC2     Single random raters  0.914  24.019   16   16   0.0  [0.78, 0.97]
2   ICC3      Single fixed raters  0.920  24.019   16   16   0.0  [0.79, 0.97]
3  ICC1k  Average raters absolute  0.955  22.281   16   17   0.0  [0.88, 0.98]
4  ICC2k    Average random raters  0.955  24.019   16   16   0.0  [0.88, 0.98]
5  ICC3k     Average fixed raters  0.958  24.019   16   16   0.0  [0.89, 0.98]

In [82]:
-0.03271-0.24293

-0.27564

In [93]:
-0.18447-0.42685

-0.61132